@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Scrollbar Width */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width */
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: #f3f4f6; /* Light gray track */
  }
  
  /* Scrollbar Thumb (Scroller) */
  ::-webkit-scrollbar-thumb {
    background: #3b82f6; /* Primary blue color */
  }
    
  
a.active hr{
    display: block;
}

*{
    font-family: Outfit, sans-serif;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}



@media (max-width: 640px){
    a.active{
        background-color: black;
        color: white;
    }
}


